<ion-view title="Client List" id="page19">
  <ion-content padding="true" class="has-header">
    <ion-list id="clientList-list14">
      <ion-item class="item-avatar" id="clientList-list-item51" ui-sref="commissioner_Gordon">
        <img src="img/b8EmFQJkSSiNGiEhIeTO_jimgordon.jpg">
        <h2>James Gordon</h2>
        <ion-option-button class="button-positive">Call</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="clientList-list-item52" ui-sref="harley_Quinn">
        <img src="img/L6n8yETYRRKk0l8eaQeY_13-harley-quinn.w750.h560.2x.jpg">
        <h2>Harleen Quinzel</h2>
        <ion-option-button class="button-positive">Call</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="clientList-list-item53" ui-sref="poison_Ivy">
        <img src="img/GaOLO4kdSRiCjk0Y46ni_182230.jpg">
        <h2>Pamela Isley</h2>
        <ion-option-button class="button-positive">Call</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>