<ion-view title="Coaches" id="page17">
  <ion-content padding="true" class="has-header">
    <ion-list id="coaches-list19">
      <ion-item class="item-avatar" id="coaches-list-item48" href="tel:">
        <img src="img/K5v49KTvKWy5sKPRPNAg_murray.png">
        <h2>Coach Valentine</h2>
        <ion-option-button class="button-positive">Text</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="coaches-list-item49" href="tel:">
        <img src="img/wfsxRAgURr67RJnA3F27_large.png">
        <h2>Coach Allen</h2>
        <ion-option-button class="button-positive">Text</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="coaches-list-item50" href="tel:">
        <img src="img/5QTdvkGTTWyRmLYL4Yl4_Talia_al_Ghul_DCnU.jpg">
        <h2>Coach Talia</h2>
        <ion-option-button class="button-positive">Text</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>