<ion-view title="Coach" id="page2" style="background-color:Default;">
  <ion-content padding="true" class="has-header">
    <ion-list id="coach-list1">
      <ion-item class="item-avatar energized" id="coach-list-item1" href="mailto:">
        <img src="img/GfFKYj2ER1yIm0kfd7kW_murray.png">
        <h2energized>Coach Valentine
          <p>Cardio Specialist</p>
          <ion-option-button class="button-positive">Call</ion-option-button>
        </h2energized>
      </ion-item>
      <ion-item class="item-divider" id="coach-list-item-divider1"> Messages</ion-item>
    </ion-list>
    <div class="item item-body" id="coach-list-item-container1">
      <ion-list id="coach-list12">
        <ion-item class="item-divider" id="coach-list-item-divider12"> 02/24/2017</ion-item>
      </ion-list>
      <div class="item item-body" id="coach-list-item-container10">
        <div id="coach-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">I noticed you are falling a bit behind on your daily workouts! If you need to chat, swipe my picture to give me a call.</p>
        </div>
      </div>
      <ion-list id="coach-list13">
        <ion-item class="item-divider" id="coach-list-item-divider13"> 02/13/2017</ion-item>
      </ion-list>
      <div class="item item-body" id="coach-list-item-container11">
        <div id="coach-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Keep up the good workouts. Remember, with Valentine's Day tomorrow, a little chocolate is okay!</p>
        </div>
      </div>
    </div>
    <ion-list id="coach-list2">
      <ion-item class="item-divider" id="coach-list-item-divider4"> Suggested Workouts</ion-item>
    </ion-list>
    <ion-list id="coach-list4">
      <ion-list id="coach-list7">
        <ion-item id="coach-list-item11" ui-sref="tabsController.yoga">Yoga
          <span class="item-note">Zen</span>
        </ion-item>
        <ion-item id="coach-list-item12" ui-sref="tabsController.runningJogging">Jogging
          <span class="item-note">Cardio</span>
        </ion-item>
        <ion-item id="coach-list-item13" ui-sref="tabsController.weightLifting">Weights
          <span class="item-note">Muscle</span>
        </ion-item>
      </ion-list>
      <ion-item class="item-divider" id="coach-list-item-divider3"> Suggested Meals</ion-item>
    </ion-list>
    <ion-list id="coach-list5">
      <ion-item class="item-thumbnail-left" id="coach-list-item40">
        <img src="img/I9pAI9S8Qcqlk370oBUm_1769311.jpg">
        <h2>Chicken</h2>
        <p style="white-space:normal;">Baked Chicken, Chicken and Rice, Chicken Breast, Grilled Chicken</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="coach-list-item41">
        <img src="img/bAO1IL2VTCaJgs3NLBrk_springsaladmeyerlemonvinaigrette.jpg">
        <h2>Spring Salad</h2>
        <p style="white-space:normal;">Lettuce mix, cherry tomatoes, avocado, nuts, kiwi, and berries</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="coach-list-item42">
        <img src="img/m2KsIS30Sq6VyWxAVii1_183631747_XS.jpg">
        <h2>Yogurt &amp; Granola</h2>
        <p style="white-space:normal;">Try an all natural greek yogurt mixed with your favorite berries</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>