<ion-view title="Commissioner_Gordon" id="page20">
  <ion-content padding="true" class="has-header">
    <ion-list id="commissioner_Gordon-list16">
      <ion-item class="item-avatar" id="commissioner_Gordon-list-item54" href="tel:">
        <img src="img/bdpnsOSQNu4Ez0AiVRwV_jimgordon.jpg">
        <h2>James Gordon</h2>
        <p>Exercise: Cardio</p>
      </ion-item>
      <label class="item item-input" id="commissioner_Gordon-input17">
        <span class="input-label">Last Contact Date: </span>
        <input type="date" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-royal" id="commissioner_Gordon-toggle1">Low Carb Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="commissioner_Gordon-toggle2">Vegan Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="commissioner_Gordon-toggle3">Balanced Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="commissioner_Gordon-toggle4">Cleanse Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="commissioner_Gordon-toggle5">Cardio Exercise Plan</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="commissioner_Gordon-toggle7">Crossfit</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="commissioner_Gordon-toggle8">Get in Shape</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="commissioner_Gordon-toggle6">Muscle Tone Plan</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>