<ion-view title="Exercises" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="exercises-list10">
      <ion-item class="item-thumbnail-left energized" id="exercises-list-item18" ui-sref="tabsController.yoga">
        <img src="img/ps18IFMbQaWu5DUlLxwQ_c12fbedba2d234e04f308c23fd73a131.jpg">
        <h2energized>Yoga
          <p>Stretch yourself</p>
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="exercises-list-item22" ui-sref="tabsController.biking">
        <img src="img/vAzDPXeTHKEM98Eh8mFK_1047mountain_biking.jpg">
        <h2royal>Biking
          <p>Take a ride</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left calm" id="exercises-list-item23" ui-sref="tabsController.hiking">
        <img src="img/9KoO6UwbR7C5ncpBcIOo_image.jpg">
        <h2calm>Hiking
          <p>Go on an adventure</p>
        </h2calm>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="exercises-list-item24" ui-sref="tabsController.runningJogging">
        <img src="img/ESk0QfSRwuSZK8Uxtvrm_runner-silhouette-11083102.jpg">
        <h2balanced>Running/Jogging
          <p>Stretch those legs</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="exercises-list-item25" ui-sref="tabsController.weightLifting">
        <img src="img/86KaxsmkQGulcqLKghgQ_Emma-front-squat-top-Weightlifting-Academy-750x421.jpg">
        <h2assertive>Weights
          <p>Build muscle tone</p>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>