<ion-view title="Friends" id="page16">
  <ion-content padding="true" class="has-header">
    <ion-list id="friends-list18">
      <ion-item class="item-avatar" id="friends-list-item46" href="tel:">
        <img src="img/h6H1ylxqSKegCeoBTkYJ_Grundyfoe.png">
        <h2>Solomon Grundy</h2>
        <ion-option-button class="button-positive">Text</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="friends-list-item45" href="tel:">
        <img src="img/6RJwF7ASbORPYYGqzIHK_LoisLane-1.png">
        <h2>Lois Lane</h2>
        <ion-option-button class="button-positive">Text</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="friends-list-item47" href="tel:">
        <img src="img/hXgo0GViT5Cg7NCklnJE_90240bc2c06455866356e32c60cb6736.jpg">
        <h2>Bruce Wayne</h2>
        <ion-option-button class="button-positive">Text</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>