<ion-view title="Harley_Quinn" id="page21">
  <ion-content padding="true" class="has-header">
    <ion-list id="harley_Quinn-list20">
      <ion-item class="item-avatar" id="harley_Quinn-list-item55" href="tel:">
        <img src="img/mH0WXRxTR9G6uOIU3Bcv_13-harley-quinn.w750.h560.2x.jpg">
        <h2>Harleen Quinzel</h2>
        <p>Exercise: Crossfit</p>
      </ion-item>
      <label class="item item-input" id="harley_Quinn-input18">
        <span class="input-label">Last Contact Date: </span>
        <input type="date" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-royal" id="harley_Quinn-toggle9">Low Carb Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="harley_Quinn-toggle10">Vegan Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="harley_Quinn-toggle11">Balanced Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="harley_Quinn-toggle12">Cleanse Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="harley_Quinn-toggle13">Cardio Exercise Plan</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="harley_Quinn-toggle14">Crossfit</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="harley_Quinn-toggle15">Get in Shape</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="harley_Quinn-toggle16">Muscle Tone Plan</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>