<ion-view title="Manage Members" id="page24">
  <ion-content padding="true" class="has-header">
    <ion-list id="manageMembers-list22">
      <ion-item class="item-avatar" id="manageMembers-list-item58">
        <img src="img/UZ52nqpiRUKNvar8bMJH_large.png">
        <h2>Barry Allen</h2>
        <p>Coach Allen</p>
      </ion-item>
      <ion-list id="manageMembers-list23">
        <ion-toggle toggle-class="toggle-positive" id="manageMembers-toggle33">User</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="manageMembers-toggle34">Coach</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="manageMembers-toggle35">Active</ion-toggle>
        <label class="item item-select" id="manageMembers-select5">
          <span class="input-label">Coach Assigned</span>
          <select>
            <option>Coach Allen</option>
            <option>Coach Talia</option>
            <option>Coach Wayne</option>
            <option>No Coach</option>
          </select>
        </label>
        <ion-item class="item-avatar" id="manageMembers-list-item57">
          <img src="img/cflZpITiT7ymY8sgwTiQ_jimgordon.jpg">
          <h2>James Gordon</h2>
          <p>Commissioner_Gordon</p>
        </ion-item>
      </ion-list>
      <ion-list id="manageMembers-list24">
        <ion-toggle toggle-class="toggle-positive" id="manageMembers-toggle36">User</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="manageMembers-toggle37">Coach</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="manageMembers-toggle38">Active</ion-toggle>
        <label class="item item-select" id="manageMembers-select6">
          <span class="input-label">Coach Assigned</span>
          <select>
            <option>Coach Allen</option>
            <option>Coach Talia</option>
            <option>Coach Wayne</option>
            <option>No Coach</option>
          </select>
        </label>
      </ion-list>
      <ion-item class="item-avatar" id="manageMembers-list-item59">
        <img src="img/a5qq1js5SIu96MK6oXvn_182230.jpg">
        <h2>Pamela Isley</h2>
        <p>Poison_Ivy</p>
      </ion-item>
      <ion-list id="manageMembers-list25">
        <ion-item id="manageMembers-list-item69">User</ion-item>
        <ion-item id="manageMembers-list-item70">Coach</ion-item>
        <ion-item id="manageMembers-list-item71">Active</ion-item>
        <label class="item item-select" id="manageMembers-select7">
          <span class="input-label">Coach Assigned</span>
          <select>
            <option>Coach Allen</option>
            <option>Coach Talia</option>
            <option>Coach Wayne</option>
            <option>No Coach</option>
          </select>
        </label>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>