<ion-view title="Social" id="page5">
  <ion-content padding="true" class="has-header" ng-controller="infoCtrl">
    <ion-list id="social-list15">
      <ion-item class="item-icon-left" id="social-list-item43">
        <i class="icon ion-happy-outline"></i>Friends</ion-item>
      <ion-item class="item-icon-left" id="social-list-item44">
        <i class="icon ion-ios-contact"></i>Coaches</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <ion-list id="social-list17">
      <ion-item class="item-divider" id="social-list-item-divider16"> Recent Posts</ion-item>
    </ion-list>

        <div class="table1">
          <form name="form">
            <label class="item item-input">
              <input type="text" name="theComment" placeholder="Enter a comment" ng-model="comment">
            </label>

            <button class="button button-positive  button-block" ng-click="addInfo()">Add Comment</button>
            
          </form>
        </div>

        <div class="table2">
          <div class="row" style="border-bottom: 0.5px solid #4588ba;">
            <div class="col col-10"><strong>ID</strong></div>
            <div class="col col-100"><strong>Comment</strong></div>
          </div>

          <div class="row" ng-repeat="item in alldata" style="border-bottom: 0.5px solid #4588ba;">
            <div class="col col-10">{{item.id}}</div>
            <div class="col col-100">{{item.comment}}</div>
          </div>
        </div>




  </ion-content>
</ion-view>