<ion-view title="Steps" id="page10">
    <ion-content padding="true" class="has-header" ng-controller="stepsCtrl">
        <form id="steps-form9" class="list">
            <ion-item class="item-icon-left" id="steps-list-item34">
                <i class="icon ion-heart"></i>{{theStepTot}}
                <span class="item-note">Steps</span>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <ion-item class="item-divider" id="steps-list-item-divider9"> Insert Step Count</ion-item>
            <label class="item item-input" id="steps-input6">
                <span class="input-label">Input</span>
                <input type="number" placeholder="ex 567" ng-model="theSteps">
            </label>
            <button id="steps-button24" class="button button-positive  button-block" ng-click="addSteps()">Save Steps</button>
            <div class="card">
                <div class="item item-divider item-calm">
                    Step History
                </div>
                <div class="item item-text-wrap">
                    <div class="table2">
                        <div class="row" style="border-bottom: 0.5px solid #4588ba;">
                            <div class="col col-50"><strong>Date</strong></div>
                            <div class="col col-100"><strong>Steps</strong></div>
                        </div>
                        <div class="row" ng-repeat="item in alldata | limitTo: 5" style="border-bottom: 0.5px solid #4588ba;">
                            <div class="col col-50">{{item.theDate | date:'MM/dd/yyyy'}}</div>
                            <div class="col col-100">{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>