<ion-view title="Active Minutes" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="activeMinutes-form10" class="list">
      <ion-item class="item-icon-left" id="activeMinutes-list-item35">
        <i class="icon ion-android-bicycle"></i>34
        <span class="item-note">Minutes</span>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <ion-item class="item-divider" id="activeMinutes-list-item-divider10"> Track Active Minutes</ion-item>
      <div id="activeMinutes-button-bar4" class="button-bar">
        <button id="activeMinutes-button29" class="button button-balanced  button-block">Start</button>
        <button id="activeMinutes-button30" class="button button-assertive  button-block">Stop</button>
      </div>
      <label class="item item-input" id="activeMinutes-textarea4">
        <span class="input-label">Active Graph goes here</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>