<ion-view title="Biking" id="page15">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="biking-card25">
      <ion-item class="item-icon-left assertive" id="biking-list-item39">
        <i class="icon ion-music-note"></i>Play Playlist</ion-item>
    </div>
    <div id="biking-button-bar7" class="button-bar">
      <button id="biking-button37" class="button button-balanced  button-block">Start</button>
      <button id="biking-button38" class="button button-assertive  button-block">Stop</button>
    </div>
    <form id="biking-form14" class="list">
      <label class="item item-input" id="biking-textarea8">
        <span class="input-label">GPS Window</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>