<ion-view title="Calories" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="calories-form11" class="list">
      <ion-item class="item-icon-left" id="calories-list-item36">
        <i class="icon ion-bonfire"></i>6453
        <span class="item-note">Calories</span>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <ion-item class="item-divider" id="calories-list-item-divider11"> Insert Calorie Count</ion-item>
      <label class="item item-input" id="calories-input8">
        <span class="input-label">Input</span>
        <input type="number" placeholder="ex 567">
      </label>
      <button id="calories-button32" class="button button-calm  button-block">Save Calories</button>
      <label class="item item-input" id="calories-textarea5">
        <span class="input-label">Calorie Graph goes here</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>