<ion-view title="Hiking" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="hiking-card24">
      <ion-item class="item-icon-left assertive" id="hiking-list-item38">
        <i class="icon ion-music-note"></i>Play Playlist</ion-item>
    </div>
    <div id="hiking-button-bar6" class="button-bar">
      <button id="hiking-button35" class="button button-balanced  button-block">Start</button>
      <button id="hiking-button36" class="button button-assertive  button-block">Stop</button>
    </div>
    <form id="hiking-form13" class="list">
      <label class="item item-input" id="hiking-textarea7">
        <span class="input-label">GPS Window</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>