<ion-view title="Poison_Ivy" id="page22">
  <ion-content padding="true" class="has-header">
    <ion-list id="poison_Ivy-list21">
      <ion-item class="item-avatar" id="poison_Ivy-list-item56" href="tel:">
        <img src="img/HSXX314xRjMkoPayQ0V8_182230.jpg">
        <h2>Pamela Isley</h2>
        <p>Exercise: Crossfit</p>
      </ion-item>
      <label class="item item-input" id="poison_Ivy-input19">
        <span class="input-label">Last Contact Date: </span>
        <input type="date" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-royal" id="poison_Ivy-toggle17">Low Carb Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="poison_Ivy-toggle18">Vegan Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="poison_Ivy-toggle19">Balanced Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="poison_Ivy-toggle20">Cleanse Diet</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="poison_Ivy-toggle21">Cardio Exercise Plan</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="poison_Ivy-toggle22">Crossfit</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="poison_Ivy-toggle23">Get in Shape</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="poison_Ivy-toggle24">Muscle Tone Plan</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>