<ion-view title="Running/Jogging" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="runningJogging-card22">
      <ion-item class="item-icon-left assertive" id="runningJogging-list-item29">
        <i class="icon ion-music-note"></i>Play Playlist</ion-item>
    </div>
    <div id="runningJogging-button-bar3" class="button-bar">
      <button id="runningJogging-button20" class="button button-balanced  button-block">Start</button>
      <button id="runningJogging-button21" class="button button-assertive  button-block">Stop</button>
    </div>
    <form id="runningJogging-form8" class="list">
      <label class="item item-input" id="runningJogging-textarea1">
        <span class="input-label">GPS Window</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>