<ion-view title="Signup" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list9">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-select" id="signup-select4">
        <span class="input-label">Exercise Plan</span>
        <select>
          <option>Cardio</option>
          <option>Muscle Tone</option>
          <option>Crossfit</option>
          <option>Get in Shape</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-positive" id="signup-toggle39">Coach Needed?</ion-toggle>
      <button id="signup-button3" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>