<ion-view title="Social" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="social-list15">
      <ion-item class="item-icon-left" id="social-list-item43">
        <i class="icon ion-happy-outline"></i>Friends</ion-item>
      <ion-item class="item-icon-left" id="social-list-item44">
        <i class="icon ion-ios-contact"></i>Coaches</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <ion-list id="social-list17">
      <ion-item class="item-divider" id="social-list-item-divider16"> Recent Posts</ion-item>
    </ion-list>
    <div id="social-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">02/24/2017 - Just had a delicious steak last night! Recipe is below!</p>
    </div>
    <div id="social-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">02/24/2017 - Sprained my ankle while playing basketball...anyone have any tips?</p>
    </div>
    <div id="social-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;">02/23/2017 - Anyone else lifting tonight?</p>
    </div>
  </ion-content>
</ion-view>