<ion-view title="Steps" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="steps-form9" class="list">
      <ion-item class="item-icon-left" id="steps-list-item34">
        <i class="icon ion-heart"></i>6453
        <span class="item-note">Steps</span>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <ion-item class="item-divider" id="steps-list-item-divider9"> Insert Step Count</ion-item>
      <label class="item item-input" id="steps-input6">
        <span class="input-label">Input</span>
        <input type="number" placeholder="ex 567">
      </label>
      <button id="steps-button24" class="button button-calm  button-block">Save Steps</button>
      <label class="item item-input" id="steps-textarea2">
        <span class="input-label">Step Graph goes here</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>