<ion-view title="Trackers" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="trackers-list11">
      <ion-item class="item-divider" id="trackers-list-item-divider5"> Step Count</ion-item>
      <ion-item id="trackers-list-item30" ui-sref="tabsController.steps">6453
        <span class="item-note">steps</span>
      </ion-item>
      <ion-item class="item-divider" id="trackers-list-item-divider6"> Active Minutes</ion-item>
      <ion-item id="trackers-list-item31" ui-sref="tabsController.activeMinutes">32
        <span class="item-note">minutes</span>
      </ion-item>
      <ion-item class="item-divider" id="trackers-list-item-divider7"> Calorie Count</ion-item>
      <ion-item id="trackers-list-item32" ui-sref="tabsController.calories">456
        <span class="item-note">calories</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>