<ion-view title="Weight Lifting" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="weightLifting-card23">
      <ion-item class="item-icon-left assertive" id="weightLifting-list-item37">
        <i class="icon ion-music-note"></i>Play Playlist</ion-item>
    </div>
    <div id="weightLifting-button-bar5" class="button-bar">
      <button id="weightLifting-button33" class="button button-balanced  button-block">Start</button>
      <button id="weightLifting-button34" class="button button-assertive  button-block">Stop</button>
    </div>
    <form id="weightLifting-form12" class="list">
      <label class="item item-input" id="weightLifting-textarea6">
        <span class="input-label">GPS Window</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>