<ion-view title="Yoga" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="yoga-card21">
      <form id="yoga-form6" class="list">
        <label class="item item-select" id="yoga-select2">
          <span class="input-label">Select Pose</span>
          <select>
            <option>Tree</option>
            <option>Warrior</option>
            <option>Plough</option>
            <option>Downward Dog</option>
          </select>
        </label>
      </form>
      <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="yoga-video2">
        <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
    </div>
    <div id="yoga-button-bar2" class="button-bar">
      <button id="yoga-button14" class="button button-balanced  button-block">Start</button>
      <button id="yoga-button15" class="button button-assertive  button-block">Stop</button>
    </div>
  </ion-content>
</ion-view>